<html>
    <head>
        <title>
            Linda Tran
        </title>
        <link type="text/css" rel="stylesheet" href="appointments.css">
    </head>
    <body>
        <div style="width:100%; background-color: rgba(0, 0, 0, .75); margin-top: 5%; ">
            <a href="/">
                    <div style="margin-top: 1%; display:inline-block; border: .2em solid white; width: 10%;text-decoration: none; color: white; font-size: 1em;text-align: center;margin-left: 1%;">
                        <p style=" margin: 0%">
                            Back to Home
                        </p>
                    </div>
                </a>
            <div style="width: 60%; margin-left: auto; margin-right: auto; text-align: center; color: white;">
                
                <p style="font-size: 2vw; padding-top: 3%;">
                    <strong>Make An Appointment Today</strong>
                </p>
                <p>
                    Thanks for choosing me to join you on your journey to self discovery. Fill out the form below, and I'll get back to you within 36 hours.
                </p>
                <form method="POST" action="/email_doctor" style="margin-top: 8%;">
                    <input class="query" type="text"  name="name" placeholder="*Full Name"/>
                    <input class="query" type="text" name="from" placeholder="*Email Address"/>
                    <input class="query" type="text" name="date"  style="float: left; margin-left: 8.9%;margin-bottom:2%;margin-top:1%;" placeholder="*Desired Date"/>
                    </br>
                    <div style="display: inline-block; width: 83%;">
                        <p style="float:left;">
                            *Reason for Visit:
                        </p>
                    </div>
                    </br>
                    <div>
                    <textarea class="pd" type="text" name="description" placeholder="Please provide, in a few sentences, the reason for your visit."></textarea>
                    
                </div>
                    <div style="margin-top:11%; margin-bottom: 3%;">
                    <input type="submit" value="Request" class="submit">
                    </div>
                    </form>
            </div>
        </div>
    </body>
</html>