<html>
    <head>
        <title>
            Linda Tran
        </title>
        <link type="text/css" rel="stylesheet" href="appointments.css">
    </head>
    <body>
        <div style="width:100%; background-color: rgba(0, 0, 0, .75); margin-top: 5%; ">
            <div style="width: 60%; margin-left: auto; margin-right: auto; text-align: center; color: white;">
                <p style="font-size: 2vw; padding-top: 3%;">
                    <strong>Appointment Requested</strong>
                </p>
                <p>
                    Thank you for requesting an appointment, I'll get back to you soon!
                </p>
                <a href="/">
                    <div style="margin-bottom: 3%; display:inline-block; border: .2em solid white; width: 20%;text-decoration: none; color: white; font-size: 1em;">
                        <p style=" margin: 0%">
                            Back to Home
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>